[Unit]
Description=spamhaus-droplist
Wants=multi-user.target
After=netfilter-persistent.service

[Service]
Type=simple
ExecStartPre=/bin/sh -c 'until ping -c1 spamhaus.org; do sleep 1; done;'
ExecStart=/usr/local/sbin/spamhaus-droplist

[Install]
WantedBy=multi-user.target
