# This file is {{ ansible_managed }}

*filter

##
# base filter policy
##

:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]

##
# generic rules for all hosts
##

# allow internal traffic
-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT

# allow icmp echo requests
-A INPUT -p icmp -m icmp --icmp-type 8 -j ACCEPT

# drop non-conforming packets
-A INPUT -m conntrack --ctstate INVALID -j DROP

# block remote packets pretending to be from a loopback address
-A INPUT -s 127.0.0.0/8 ! -i lo -j DROP

##
# host specific rules
##

{% for rule in iptables_rules %}
-A INPUT -p {{ rule.protocol }} {% if rule.interface is defined %}-i {{ rule.interface }} {% endif %}{% if rule.source is defined %}-s {{ rule.source }} {% endif %}--dport {{ rule.destination_port }} {% if rule.match is defined %}-m {{ rule.match }} {{ rule.match_options }} {% endif %}-j {{ rule.jump }}
{% endfor %}

{% if iptables_blocklist is defined %}
##
# manual blocklist with logging
##

-N manual-droplist
-I INPUT 1 -j manual-droplist
{% for address in iptables_blocklist %}
-A manual-droplist -s {{ address }} -j LOG --log-prefix "[MANUAL BLOCK] " -m limit --limit 3/min --limit-burst 10
-A manual-droplist -s {{ address }} -j DROP
{% endfor %}
{% endif %}
COMMIT

*nat

##
# base nat policy
##

:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
COMMIT

*mangle

##
# base mangle policy
##

:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
COMMIT
